
* {

    box-sizing: border-box;
}
.list1 {
   font-size: 30px;
background-color: aliceblue;
padding: 10px;
margin: 20px;
    }

.list2 {
    text-align: center;
    background-color: aquamarine;
    font-size: 45px;
    padding: 30px;
    margin: 40px;
}
